language: php

php:
  - 7.1

sudo: true

env:
  - PHALCON_VERSION="v3.4.1"

git:
  depth: 1

install:
  - composer self-update
  - git clone --depth=1 -q --branch=${PHALCON_VERSION} https://github.com/phalcon/cphalcon.git
  - '(cd cphalcon/build; bash install &>/dev/null && phpenv config-add ../tests/_ci/phalcon.ini &> /dev/null && cd ../..;)'
  - php --ri phalcon
  - composer update --dev --no-interaction

script:
  - vendor/bin/codecept run unit --coverage --coverage-text
  - find src/ -type f -print0 | xargs -0 -n1 php -l
  - vendor/bin/phpcs --config-set show_warnings 0
  - vendor/bin/phpcs src/ --standard=psr2
  - vendor/bin/phpcs tests/*/*Test.php --standard=psr2

notifications:
  email:
    - sid@sidroberts.co.uk
